/* Color pallete
#1A090D
#4A314D
#6B6570
#D8C99B
#D8973C */
/* Color pallete
#1A090D
#4A314D
#6B6570
#D8C99B
#D8973C */


  .background{
  background-color: #4A314D;
  }
  .titleSpeech{
    background-color: #1A090D;
    color: #D8973C;
    padding: 5px;
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #6B6570;
  }
  .flavourText{
     
  /* background-image: url("https://image.similarpng.com/very-thumbnail/2022/02/Old-blank-antique-scroll-paper-isolated-on-transparent-background-PNG.png");
  background-size: cover; */
  display:flex;
  background-color: #1A090D;
  color: #D8973C;
  padding: 10px;
  width: 50%;
  text-align: center;
  margin: auto;
  }

  .storyImage{
    display:block; 
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 4px;
    padding-left: 4px;
    background-color: #D8C99D;
    width: 450px;
    height: 450px;
  }
   
  .Ui{
    
    margin-left:560px;
    text-align: center;
    width: 40%
  }
  .choiceText{
    background-color: #1A090D;
    color: #D8973C;
    padding: 10px;
    width: 50%;
    text-align: center;
    margin: auto;
  } 

  .scrollText{
     
    background-image: url("https://st5.depositphotos.com/1006269/62549/i/450/depositphotos_625492668-stock-photo-old-mediaeval-paper-sheet-parchment.jpg");
    background-size: cover;
    display:flex;
    background-color: #1A090D;
    color: #000000;
    padding: 10px;
    padding-left: 300px;
    padding-top: 600px;
    width: 80%;
    height: 100vh;
    text-align: center;
    margin: auto;
    font-size:larger;
    background-color: #4A314D;
    box-shadow: 0 0 50px 50px #302f2f;
  }
  
  .blurBox{
    background-color: #4A314D;
    box-shadow: 0 0 5px 10px #4A314D;
  }